<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
<body class= "main" style="background-color:rgb(0, 0, 0);">
    <div class="container">
        <% if (locals.message) { %>
            <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert"><%= message %></div><% } %>
            <br>
            <h1 class="title">Reviews</h1>

            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Song</th>
                        <th scope="col">Artwork</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <% reviewedSongs.forEach(function(element){%>
                    <tr>
                        <td>
                            <%= element.reviewer_name.substring(0, 25) %>
                            <br>
                            <%= element.reviewer_name.substring(25, 50) %>
                            <br>
                            <%= element.reviewer_name.substring(50, 75) %>
                            <br>
                            <%= element.reviewer_name.substring(75, 100) %>
                        </td>
                        <td>
                            <%= element.name.substring(0, 25) %>
                            <br>
                            <%= element.name.substring(25, 50) %>
                            <br>
                            <%= element.name.substring(50, 75) %>
                            <br>
                            <%= element.name.substring(75, 100) %>
                        </td>
                        <td>
                            <img style="width:160px; height: 137px; border-color:#19d1f6" class="img-thumbnail shadow-sm p-1 mb-1 bg-white rounded" style=border:1px src="<%= element.artwork_url%>"</img>
                        </td>
                        <td>
                            <%= element.artist_name %>
                        </td>
                        <td>
                            <%= element.rating %>/5☆
                        </td>
                        <td>
                            <%= element.description.substring(0, 25) %>
                            <br>
                            <%= element.description.substring(25, 50) %>
                            <br>
                            <%= element.description.substring(50, 75) %>
                            <br>
                            <%= element.description.substring(75, 100) %>
                        </td>
                        <td>
                            <%= element.review_date.toDateString() %>
                        </td>
                    </tr>
                    <% });%>
            </table>
    </div>
</body>
</main>

<%- include ('../partials/footer') %>