<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<body class= "main" style="background-color:rgb(199, 199, 199);">
  <div class="container">
      <br>
      <h1 class="title">Uploads</h1>
      <br>
      <h1>Most Similiar To <%= additional %></h1>
      <h1>Title <%= name %> and the python gave us: <%= additional %></h1>
      <br>
    </div>
      <img src="/upload/<%= name %>" alt="ImageName" width = 800>
      <img src="/upload/<%= additional %>" alt="ImageName" width = 800>
</body>

<%- include ('../partials/footer') %>