<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<body class="main" style="background-color: rgb(199, 199, 199);">
  <div class="container">
    <br>
    <h1 class="title">Uploads</h1>
    <br>
  </div>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <div class="imageContainer">
      <% for (let i = data.length - 1; i >= 0; i--) { %>
            <div class="row">
              <div class="matchHeader">
                <h4 style = "font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                font-size: 35px;">Best Match: <%= data[i][0][1] %> | <%= data[i][0][2] %>% Match</h4>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/upload/<%= name[i] %>" alt="ImageName" width = 600>
                </div>
                <div class="col-md-6">
                    <div class="swiper sample-slider">
                        <div class="swiper-wrapper">
                            <% for (let j = 0; j < data[0].length; j++) { %>
                              <div class = "swiper-slide">
                                <h4 style = "font-weight: bold;
                                font-family: 'Quicksand', sans-serif;
                                font-size: 35px;"><%= j+1 %>. <%= data[i][j][1] %></h3>
                                <h5 style = "font-weight: bold;
                                font-family: 'Quicksand', sans-serif;
                                font-size: 35px;"><%= data[i][j][2]%>% match</p>
                                <img src="/upload/<%= data[i][j][0] %>" />
                              </div>
                              <% }; %>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <br>
            <hr class = new></hr>
        <% }; %>
  </div>
  <br>
</body>


<script>
    const swiper = new Swiper('.sample-slider', {
        loop: true,
        grabCursor: true,               
        speed: 600,    // bigger number = slower                       
        effect: "cube",                    
        cubeEffect: {
            shadow: false,                 
            slideShadows: false,         
        },                       
        pagination: {                       
            el: '.swiper-pagination',
        },
        navigation: {                       
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        keyboard: {
        enabled: true,
        },
        // autoplay: {
        //     delay: 1200,
        //     disableOnInteraction: true,
        // },
    })
</script>
  
<%- include ('../partials/footer') %>